<h1>Log in to Tamblr!</h1>
<form action="/login" method="post">
  <label for="">Username:</label>
  <input type="text" name="user[username]" id="" />
  <div class="spacer"></div>
  <label for="">Password:</label>
  <input type="password" name="user[password]" id="" />
  <div class="spacer"></div>
  <input type='submit' value='Log In'>
</form>
