<h1>Sign up now!</h1>
<form method="post" action="/users">
  <label>Username:</label>
  <input type="text" name="user[username]"/>
  <div class="spacer"></div>

  <label>First Name:</label>
  <input type="text" name="user[first_name]"/>
  <div class="spacer"></div>

  <label>Last Name:</label>
  <input type="text" name="user[last_name]"/>
  <div class="spacer"></div>

  <label>Password:</label>
  <input type="password" name="user[password]"/>
  <div class="spacer"></div>

  <input type="submit" value="Sign Up!"/>
  <div class="spacer"></div>
</form>
