<form method="post" action="/entries">
  <label>Title:</label>
  <input type="text" name="entry[title]"/>
  <div class="spacer"></div>

  <label>Content:</label>
  <input type="text" name="entry[content]"/>
  <div class="spacer"></div>

  <label>Tag:</label>
  <input type="text" name="tag[name]"/>
  <div class="spacer"></div>

  <input type="submit" value="Create new Post!"/>
</form>
